<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
        <class name="MobileWorld.ContactUs.SignIn"/>
        <class name="MobileWorld.ContactUs.SignUp"/>
        <class name="MobileWorld.ContactUs.StandardAloneTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
